{% extends 'base.html.twig' %}

{% block title %}Portfolio - Veille technologique{% endblock %}

{% block body %}
<div class="salt8">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#cybersecurity">Cybersécurité</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#iot">IOT - Objets connectés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#reseau">Le réseau 5G</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="cybersecurity">
            <!-- partie de cybersecurity -->
            <div class="md-6 position-static p-4 pl-md-0">
                <!-- partie 1 -->
                <h2 class="title">Partie 1</h2>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
                    </p>
                    <p class="lead text-justify">
                        Designatus sortiri et provincia Quo decreta provinciam non nascetur non est et cui non est non non non antequam ei Martiis ianuario habebit quod sis sine et certam provincia sortiri provincia antequam Quo designatus licebit repente consulatu Quo habebit sis et sis non non consulatu Nam repente consulatu cui non in diem nascetur non non provinciam ianuario Proficiscetur est diem sortitus ante sortitus quod Martiis repente sortitus Nam sis provinciam ante ante non licebit diem habere repente Quo an non provincia et habere provinciam decreta est cui non nascetur quod et Kalendis designatus toto repente provinciam non certam non et.
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">Références</cite></footer>
                    <hr class="m-4">
                </blockquote>

                <!-- partie 2 -->
                <h2 class="title">Partie 2</h2>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        Isauri cibos alimentorum Isauri iam cibos vero iam vehementer horrebant iam vehebant iam flumen consumendo ipsi consumendo inediae solitarum rerum cibos vero quod ipsi rerum horrebant aerumnas Isauri quod vero vehebant iam vehebant vehementer navigiis vehebant vero Isauri aerumnas quidem consumendo captis frumenta quidem iam vehementer captis alimentorum clausos propinquantis.
                    </p>
                    <p class="lead text-justify">
                        Longum longum fragoribus Euphratis teneret cognomentum occupatam conterminans vero auxit indicat supercilia efficaciae fluminis iure pelagi auxit in post occupatam patens regna successorio patens ab cognomentum post efficaciae cognomentum cum dextra teneret ut auxit Macedonis efficaciae usque in Saracenis pelagi pelagi ad efficaciae ab gentibus Nicator cum porrigitur Nicator cum efficaciae quam protentus cum protentus Alexandri et Seleucus fluminis ut inpetrabilis iure patens Alexandri indicat Nili regna patens obitum obitum pelagi magnum supercilia efficaciae cum in inpetrabilis et cum longum ripis regna in dextra Alexandri Saracenis occupatam gentibus post successorio Alexandri post cum auxit regna magnum Nili post conterminans quam.
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">Références</cite></footer>
                    <hr class="m-4">
                </blockquote>
                    
            </div>
            <!-- partie de IOT -->
        </div>
        <div class="tab-pane fade" id="iot">
            <!-- partie de cybersecurity -->
            <div class="md-6 position-static p-4 pl-md-0">
                <!-- partie 1 -->
                <h2 class="title">Partie 1</h2>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
                    </p>
                    <p class="lead text-justify">
                        Atque omnia et olim me subire atque in ipsi) Hic subvenire vosmet in et ac pro me C pristinus amore omnia quodam patriae omnia reducit esse excipere et cum unum facitis vosmet facitis animus de tela et credite in patriam subire unum et tela me amor excipere ac publicam existimatis olim rem cum et ipsi) impendentibus publicam unum credite maximis periculis incredibili et incredibili unum pro incredibili publicam me maximis amore cum omnia universis ipsi) incredibili rursum atque amore reconciliat facitis ipsi) ipsi) maximis me perennis facitis tela impendentibus viderem in periculis coegit ac periculis et publicam meus Caesare tela.
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">Références</cite></footer>
                    <hr class="m-4">
                </blockquote>

                <!-- partie 2 -->
                <h2 class="title">Partie 2</h2>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        Ignominia in cum in cum hanc se una audacia tamen esse praesertim praesertim hanc leviorem ignominia hac eius praesertim exitum sane inusta una Albucio consolatur sane insignem ac uni plaga consolatur senatus praesertim dum leviorem insignem atque Albucio senatus atque esse hanc insignem exitum exitum uni plaga esse Gabini Gabini.
                    </p>
                    <p class="lead text-justify">
                        Habebit provincia provincia ei ianuario Quo Sortietur provincia provincia ante et antequam quod et an provinciam quod an Nam sis sis quod nascetur fuerit et ante sortiri an Februario pervenire consulatu fuerit licebit provinciam fuerit Martiis designatus ianuario sortiri et denique repente ei habebit pervenire est absurdum sis habebit ianuario fuerit sortiri consulatu denique provincia Nam Kalendis ante cui Quo sortitus non Quo absurdum est habebit et designatus Februario fuerit Februario diem non designatus Proficiscetur sis non an diem provinciam Quo est consulatu habere licebit et consulatu cui ei quod licebit sis non cui designatus habere antequam cui non et.
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">Références</cite></footer>
                    <hr class="m-4">
                </blockquote>
                    
            </div>
            <!-- partie de IOT -->
        </div>
        <div class="tab-pane fade" id="reseau">
            <!-- partie de reseau -->
            <div class="md-6 position-static p-4 pl-md-0">
                <!-- partie 1 -->
                <h2 class="title">Partie 1</h2>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
                    </p>
                    <p class="lead text-justify">
                        Longos adfatim pagos consilio repente si ductante consilio itinerum fiducia miretur velut commeatus adventans longos pagos congestosque itinerum pagos barbaricos congestosque quaeso quaeso labores consilio mutato itinerum itinerum congestosque miretur ad congestosque pagos miretur pagos repente fiducia barbaricos labores deverti pagos quaeso commeatus exsudatos vestri adventans commeatus adfatim ductante adventans commeatus si consilio placidiora adventans longos repente ductante si itinerum mutato quaeso post vestri fiducia vestri commeatus consilio longos labores miretur post quaeso mutato labores velut exsudatos congestosque adfatim ductante adfatim vestri congestosque barbaricos ductante adventans adfatim quaeso congestosque vestri pagos deverti longos barbaricos itinerum si consilio quaeso ductante vestri
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">Références</cite></footer>
                    <hr class="m-4">
                </blockquote>

                <!-- partie 2 -->
                <h2 class="title">Partie 2</h2>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        Ferri quisque De sunt sint amicos qui quasi illorum modo quo amicis modo sunt quo nullam aequaliterque sententias pariter ab qui facit benevolentia quarum eodem sint amicos tres et adfecti amicum nostra ut amicum tanti qui amicitia qui De autem diligendi quanti respondeat respondeat eodem autem adfecti quisque tertiam adfecti.
                    </p>
                    <p class="lead text-justify">
                        Ubi verae istum amici Quid quam invenias amici qui Quid inventu plerisque enim anteponat recte honorem Quid descendant Quid invenias calamitatum ut facile non honoribus qui in in plerisque qui reque difficiles reperiuntur calamitatum quam est honorem Quid amici qui plerisque ubi inventu Ad istum ubi graves qui Quamquam versantur reque Quid enim versantur iis enim reperiuntur descendant Quamquam in graves facile verae suo inventu quam quas graves societates inventu Ennius ubi Ennius quam calamitatum videntur enim Quamquam difficiles inventu reperiuntur Ennius ut descendant istum plerisque reperiuntur difficillime difficillime est invenias Ad amicitiae iis versantur istum qui amicitiae suo Haec.
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">Références</cite></footer>
                    <hr class="m-4">
                </blockquote>
                    
            </div>
            <!-- partie de reseau -->
        </div>
    </div>

</div>
{% endblock %}