{% extends 'base.html.twig' %}

{% block title %}Portfolio - Veille technologique{% endblock %}

{% block body %}
<div class="salt8">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#cybersecurity">Cybersécurité</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#iot">IOT - Objets connectés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#reseau">Le réseau 5G</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="cybersecurity">
            <!-- partie de cybersecurity -->
            <div class="md-6 position-static p-4 pl-md-0">
                <!-- partie 1 -->
                <h4 class="title"><a href="https://www.cert.ssi.gouv.fr/avis/CERTFR-2020-AVI-371/" target="blank">Multiples vulnérabilités dans PHP</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">12 Juin 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 2 -->
                <h4 class="title"><a href="https://itsocial.fr/partenaires/oracle/ei-art-oracle/les-nouvelles-tendances-de-la-cybersecurite-post-confinement/" target="blank"> Les nouvelles tendances de la cybersécurité post-confinement</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">11 Juin 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 3 -->
                <h4 class="title"><a href="https://www.lemondeinformatique.fr/actualites/lire-cybersecurite-vmware-s-empare-de-lastline-79327.html" target="blank">Cybersécurité : VMware s'empare de Lastline</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">05 Juin 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 4 -->
                <h4 class="title"><a href="https://www.industrie-techno.com/article/cybersecurite-cisco-decouvre-une-faille-qui-permet-de-controler-a-distance-une-voiture-connectee.60646" target="blank">Cisco découvre une faille qui permet de contrôler à distance une voiture connectée</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">02 Juin 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 5 -->
                <h4 class="title"><a href="https://www.ouest-france.fr/politique/defense/pour-renforcer-la-cybersecurite-en-france-les-services-de-renseignements-misent-sur-les-jeunes-6842199" target="blank">Pour renforcer la cybersécurité en France, les services de renseignements misent sur les jeunes</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">21 Mai 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 6 -->
                <h4 class="title"><a href="https://www.silicon.fr/cybersecurite-rssi-hackers-ethiques-339923.html" target="blank">Cybersécurité : RSSI et hackers éthiques, une relation à développer</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">18 Mai 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 7 -->
                <h4 class="title"><a href="https://www.lemondedelenergie.com/5-pistes-cybersecurite-reseaux-electriques/2020/05/14/" target="blank">5 pistes pour améliorer la cybersécurité au sein des réseaux électriques</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">14 Mai 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 8 -->
                <h4 class="title"><a href="https://www.linformaticien.com/actualites/id/54068/le-nombre-de-sites-de-phishing-explose.aspx" target="blank">Le nombre de sites de phishing explose !</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">26 Mars 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 9 -->
                <h4 class="title"><a href="https://www.linformaticien.com/actualites/id/53876/la-fievre-de-l-automatisation-gagne-la-cybersecurite.aspx" target="blank">La fièvre de l'automatisation gagne la cybersécurité</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">24 Février 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 10 -->
                <h4 class="title"><a href="https://www.cert.ssi.gouv.fr/alerte/CERTFR-2020-ALE-001/" target="blank">Multiples vulnérabilités dans les produits de Pulse Secure</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">09 Janvier 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                    
            </div>
            <!-- partie de IOT -->
        </div>
        <div class="tab-pane fade" id="iot">
            <!-- partie de cybersecurity -->
            <div class="md-6 position-static p-4 pl-md-0">

                <!-- partie 1 -->
                <h4 class="title"><a href="https://vipress.net/pres-de-900-millions-de-connexions-iot-cellulaires-en-2025-plus-du-double-des-connexions-sans-licence/" target="blank">Près de 900 millions de connexions IoT cellulaires en 2025, plus du double des connexions sans licence </a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">10 Juin 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 2 -->
                <h4 class="title"><a href="https://www.journaldunet.com/ebusiness/internet-mobile/1491971-projets-iot-comment-passer-a-l-echelle-apres-le-covid-19/" target="blank"> Projets IoT : comment passer à l'échelle après le Covid-19 ?</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">09 Juin 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 3 -->
                <h4 class="title"><a href="https://www.objetconnecte.com/thread-group-widesky-hub-smart-building/" target="blank">Thread Group certifie WideSky Hub, une solution IoT pour les smart buildings</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">29 Mai 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 4 -->
                <h4 class="title"><a href="https://www.informatiquenews.fr/lexploitation-de-protocoles-non-cryptes-sabote-les-dispositifs-iot-julien-tarnowski-forescout-69736" target="blank"> L’exploitation de protocoles non cryptés sabote les dispositifs IoT. </a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">30 Avril 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 5 -->
                <h4 class="title"><a href="https://www.techtalks.fr/cybersecurite-objets-connectes-certification-iot-sans-failles-de-securite/" target="blank"> Sécurisation de l’IoT : bientôt des objets connectés certifiés sans failles de sécurité ? </a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">17 Avril 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 6 -->
                <h4 class="title"><a href="https://www.silicon.fr/avis-expert/le-m2m-pierre-angulaire-des-projets-iot" target="blank"> Le M2M, pierre angulaire des projets IoT </a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">31 mars 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 7 -->
                <h4 class="title"><a href="https://www.lesnumeriques.com/objet-connecte/adidas-gmr-p56823/adidas-gmr-avec-google-et-ea-sports-la-marque-aux-trois-bandes-cree-une-paire-de-semelles-connectees-pour-le-foot-n148143.html" target="blank"> Avec Google et EA Sports, Adidas crée une paire de semelles connectées pour le foot </a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">10 Mars 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 8 -->
                <h4 class="title"><a href="https://www.journaldunet.com/ebusiness/internet-mobile/1489493-avec-le-projet-nebula-tuya-conquiert-22-pays-et-100-marques-sous-son-label/" target="blank"> Tuya conquiert l'IoT mondial avec son projet Nebula  </a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">04 Mars 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 9 -->
                <h4 class="title"><a href="https://www.silicon.fr/cybersecurite-shadow-iot-menace-entreprises-334839.html" target="blank"> Cybersécurité : quand le « Shadow IoT » menace les entreprises </a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">26 Février 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                    
            </div>
            <!-- partie de IOT -->
        </div>
        <div class="tab-pane fade" id="reseau">
            <!-- partie de reseau 5G -->
            <div class="md-6 position-static p-4 pl-md-0">
                <!-- partie 1 -->
                <h4 class="title"><a href="https://www.lesechos.fr/tech-medias/hightech/a-londres-la-pression-monte-pour-evincer-huawei-du-reseau-5g-britannique-1210284" target="blank">A Londres, la pression monte pour évincer Huawei du réseau 5G britannique</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">11 Juin 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 2 -->
                <h4 class="title"><a href="https://www.phonandroid.com/5g-gouvernement-veut-deployer-reseau-plus-rapidement-possible.html" target="blank">Le gouvernement veut déployer le réseau le plus rapidement possible</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">05 Juin 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 3 -->
                <h4 class="title"><a href="https://www.igen.fr/telecoms/2020/05/la-5g-nouveau-theatre-de-combat-entre-les-operateurs-115131" target="blank">La 5G : nouveau théâtre de combat entre les opérateurs</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">24 Mai 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 4 -->
                <h4 class="title"><a href="https://theconversation.com/faut-il-avoir-peur-de-la-5g-138286" target="blank">Faut-il avoir peur de la 5G ? </a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">14 Mai 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 5 -->
                <h4 class="title"><a href="https://www.science-et-vie.com/questions-reponses/que-permettra-le-reseau-5g-55186" target="blank">Que permettra le réseau 5G ?</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">08 Avril 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 6 -->
                <h4 class="title"><a href="https://www.numerama.com/tech/615779-la-5g-en-france-franchit-une-etape-cle-mais-le-coronavirus-stoppe-desormais-son-deploiement.html" target="blank">La 5G en France franchit une étape-clé, mais le coronavirus stoppe désormais son déploiement</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">03 Avril 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 7 -->
                <h4 class="title"><a href="https://blog.ariase.com/mobile/dossiers/5g-deploiement-quand-ou-disponible" target="blank">Qui déploie la 5G et quand sera-t-elle disponible ?</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">09 Mars 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 8 -->
                <h4 class="title"><a href="https://www.presse-citron.net/reseau-mobile-5g-le-deploiement-est-prevu-pour-juillet-en-france/" target="blank">Réseau mobile 5G : le déploiement est prévu pour juillet en France !</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title">26 Février 2020</cite></footer>
                    <hr class="m-4">
                </blockquote>
                <!-- partie 9 -->
                <h4 class="title"><a href="https://labo.fnac.com/guide/5g-fonctionnement-usages-deploiement-point-reseau-de-demain/" target="blank">Fonctionnement, usages, déploiement… Le point sur le réseau de demain</a></h4>
                <blockquote class="blockquote m-3">
                    <p class="lead text-justify">
                        
                    </p>
                    <footer class="blockquote-footer"><cite title="Source Title"></cite></footer>
                    <hr class="m-4">
                </blockquote>
                    
            </div>
            <!-- partie de reseau -->
        </div>
    </div>

</div>
{% endblock %}