{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<style>
    
</style>
<div class="salt8">
 <!--Partie de la Présentation-->
 <!--Partie 1-->
    <div class="bg-white"><h2 class="title mt-1">A propos de moi</h2>
        <div class="row no-gutters bg-white position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="images/img0.jpg" class="in-left w-100" alt="...">
            </div>
            <div class="col-md-6 position-static p-4 pl-md-0">
                <h2>THIOUNE Seydina</h2>
                <blockquote class="blockquote m-0">
                    <p class="h5 m-2 text-justify">
                        Actuellement je suis étudiant en deuxième année de BTS SIO option Solutions Logicielles et Applications Métiers au lycée Notre Dame de La Providence, Avranches.
                    </p>
                    <p class="h5 m-2 text-justify">
                        En vue d’obtenir mon diplôme cette année, je compte bien continuer mes études jusqu’au niveau BAC+5 en dévelopement web.
                    </p>
                    <p class="h5 m-2 text-justify">
                        J'aime expérimenter, découvrir et apprendre au fur et à mesure de mes projets scolaires, professionnels et personnels.
                    </p>
                    <p class="h5 m-2 text-justify">
                        Je suis un petit passionné de la photographie, d'informatique et de web et un amoureux quand il s'agit de design.
                    </p>
                </blockquote>
                <a class="cv btn" href="docs/seydina2020.pdf" type="button" target="blank"><i class='fas fa-file-pdf' style='font-size:20px;color:#3385ff;'>   Consulter mon CV</i></a>
            </div>
        </div>
    </div>

 <!--Partie 2-->
    <div class="mt-2">
        <section class="section-xl bg-gray-lighter">
            <div class="container row row-50">
                <div class="col-md-6 col-lg-4">
                    <article class="blurb blurb-minimal">
                        <div class="unit flex-row unit-spacing-md">
                            <div class="unit-left">
                                <div class="blurb-minimal__icon"><span class="icon linear-icon-magic-wand"></span></div>
                            </div>
                            <div class="unit-body">
                                <h4 class="title"><i class='fas fa-graduation-cap'></i> Formations</h4>
                                <blockquote class="blockquote m-3">
                                    <p class="mb-0">
                                        Deuxième année BTS SIO option SLAM
                                    </p>
                                    <footer class="blockquote-footer"><cite title="Source Title">2019/2020 - Lycée Notre Dame de la Providence (Avranches, France)</cite></footer>
                                    <p class="mt-2 mb-0">
                                        Première année BTS SIO option SLAM
                                    </p>
                                    <footer class="blockquote-footer"><cite title="Source Title">2018/2019 - Lycée Notre Dame de la Providence (Avranches, France)</cite></footer>
                                    <p class="mt-2 mb-0">
                                        Licence 1 Mathématiques, Physique et Informatique
                                    </p>
                                    <footer class="blockquote-footer"><cite title="Source Title">2017/2018 - Università Degli Studi di Parma (Parme, Italie)</cite></footer>
                                    <p class="mt-2 mb-0">
                                        Terminale Scientifique
                                    </p>
                                    <footer class="blockquote-footer"><cite title="Source Title">2016/2017 - Collège Moderne Troisième Millénaire (Dakar, Sénégal)</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <article class="blurb blurb-minimal">
                        <div class="unit flex-row unit-spacing-md">
                            <div class="unit-left">
                                <div class="blurb-minimal__icon"><span class="icon linear-icon-menu3"></span></div>
                            </div>
                            <div class="unit-body">
                                <h4 class="title"><i class='fas fa-rocket'></i> Projets réalisés</h4>
                                <blockquote class="blockquote m-3">
                                    <ul>
                                        <li><p class=""> Portfolio </p></li>
                                        <li><p class=""> Yogagea A.S.D. </p></li>
                                        <li><p class=""> Site web FC Pro - Stage 2020 </p></li>
                                        <li><p class=""> Nombre d'occurence - Stage 2019 </p></li>
                                        <li><p class=""> PPE SlamQuiz </p></li>
                                        <li><p class=""> PPE Chrono </p></li>
                                    </ul>
                                </blockquote>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <article class="blurb blurb-minimal">
                        <div class="unit flex-row unit-spacing-md">
                            <div class="unit-left">
                                <div class="blurb-minimal__icon"><span class="icon linear-icon-users2"></span></div>
                            </div>
                            <div class="unit-body">
                                <h4 class="title"><i class='fas fa-briefcase'></i> Expérience profesionnelle</h4>
                                <blockquote class="blockquote m-3">
                                    <p class="mb-0">
                                        Stage chez <a href="https://ndlpavranches.fr/" style='color:#00264d;' target="blank">OGEC Notre Dame de la Providence</a>
                                    </p>
                                    <footer class="blockquote-footer"><cite title="Source Title">Du 13 Janvier au 14 Février 2020</cite></footer>
                                    <p class="mt-2 mb-0">
                                        Stage chez <a href="http://fyher.com/" style='color:#00264d;' target="blank">Fyher</a>
                                    </p>
                                    <footer class="blockquote-footer"><cite title="Source Title">Du 06 Juin au 12 Juillet 2019</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
 <!--FIN Partie de la Présentation-->
 
    <hr>
    <blockquote class="blockquote m-3">
    <p class="lead">"En terme de design, il y a selon moi deux choses essentielles: la simplicité et la clarté. Un bon design nait de ces deux éléments"</p>
    <footer class="blockquote-footer"><cite title="Source Title">Lindon Leader</cite></footer>
    </blockquote>
    <hr>

 <!--Partie des Compétences-->
    <div class="bg-white mt-5 mb-5"><h2 class="title mt-1">Compétences</h2>
        <div class="row bg-white">
            <div class="col-md-12 row">
                <div class="position-relative mt-1 col-md-6">
                    <blockquote class="blockquote m-1">
                        <p class=""> HTML5 </p>
                    </blockquote>
                    <div class="progress align-item">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                    </div>
                </div>
                <div class="position-static mt-1 col-md-6">
                    <blockquote class="blockquote m-1">
                        <p class=""> CSS3 </p>
                    </blockquote>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                </div>
                <div class="position-static mt-1 col-md-6">
                    <blockquote class="blockquote m-1">
                        <p class=""> Javascript </p>
                    </blockquote>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                    </div>
                </div>
                <div class="position-static mt-1 col-md-6">
                    <blockquote class="blockquote m-1">
                        <p class=""> PHP </p>
                    </blockquote>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                    </div>
                </div>
                <div class="position-static mt-1 col-md-6">
                    <blockquote class="blockquote m-1">
                        <p class=""> Bootstrap 4 </p>
                    </blockquote>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                    </div>
                </div>
                <div class="position-static mt-1 col-md-6">
                    <blockquote class="blockquote m-1">
                        <p class=""> Symfony 4 </p>
                    </blockquote>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--FIN Partie des Compétences-->

    <hr>
    <blockquote class="blockquote m-3">
    <p class="lead">"Un langage qui n'affecte pas votre manière de penser la programmation ne vaut pas la peine d'être connu."</p>
    <footer class="blockquote-footer"><cite title="Source Title">Alan Jay Perlis</cite></footer>
    </blockquote>
    <hr>

 <!--Partie des Dossiers techniques-->
    <div class="bg-white mt-5 mb-5"><h2 class="title mt-1">Dossiers techniques</h2>
        <div class="mt-3 d-flex justify-content-center row no-gutters">
            <div class="card mb-2 col-sm-3" style="max-width: 15rem;">
                <div class="card-header">Dossier 1</div>
                <div class="card-body">
                    <h4 class="card-title">HTML</h4>
                    <a class="cv btn" href="docs/html.pdf" type="button" target="blank"><i class='fas fa-file-pdf' style='font-size:120px;color:#3385ff;'></i></a>
                </div>
            </div>
            <div class="card mb-2 col-sm-3" style="max-width: 15rem;">
                <div class="card-header">Dossier 2</div>
                <div class="card-body">
                    <h4 class="card-title">Php</h4>
                    <a class="cv btn" href="docs/php.pdf" type="button" target="blank"><i class='fas fa-file-pdf' style='font-size:120px;color:#3385ff;'></i></a>
                </div>
            </div>
            <div class="card mb-2 col-sm-3" style="max-width: 15rem;">
                <div class="card-header">Dossier 3</div>
                <div class="card-body">
                    <h4 class="card-title">Data Base</h4>
                    <a class="cv btn" href="docs/database.pdf" type="button" target="blank"><i class='fas fa-file-pdf' style='font-size:120px;color:#3385ff;'></i></a>
                </div>
            </div>
            <div class="card mb-2 col-sm-3" style="max-width: 15rem;">
                <div class="card-header">Dossier 4</div>
                <div class="card-body">
                    <h4 class="card-title">MySql</h4>
                    <a class="cv btn" href="docs/mysql.pdf" type="button" target="blank"><i class='fas fa-file-pdf' style='font-size:120px;color:#3385ff;'></i></a>
                </div>
            </div>
            <div class="card mb-2 col-sm-3" style="max-width: 15rem;">
                <div class="card-header">Dossier 5</div>
                <div class="card-body">
                    <h4 class="card-title">JavaScript</h4>
                    <a class="cv btn" href="docs/javascript.pdf" type="button" target="blank"><i class='fas fa-file-pdf' style='font-size:120px;color:#3385ff;'></i></a>
                </div>
            </div>
            <div class="card mb-2 col-sm-3" style="max-width: 15rem;">
                <div class="card-header">Dossier 6</div>
                <div class="card-body">
                    <h4 class="card-title">Symfony</h4>
                    <a class="cv btn" href="docs/symfony.pdf" type="button" target="blank"><i class='fas fa-file-pdf' style='font-size:120px;color:#3385ff;'></i></a>
                </div>
            </div>
            <div class="card mb-2 col-sm-3" style="max-width: 15rem;">
                <div class="card-header">Dossioer 7</div>
                <div class="card-body">
                    <h4 class="card-title">Github</h4>
                    <a class="cv btn" href="docs/github.pdf" type="button" target="blank"><i class='fas fa-file-pdf' style='font-size:120px;color:#3385ff;'></i></a>
                </div>
            </div>
            <div class="card mb-2 col-sm-3" style="max-width: 15rem;">
                <div class="card-header">Dossier 8</div>
                <div class="card-body">
                    <h4 class="card-title">Bootstrap</h4>
                    <a class="cv btn" href="docs/bootstrap.pdf" type="button" target="blank"><i class='fas fa-file-pdf' style='font-size:120px;color:#3385ff;'></i></a>
                </div>
            </div>
            <div class="card mb-2 col-sm-3" style="max-width: 15rem;">
                <div class="card-header">Dossier 9</div>
                <div class="card-body">
                    <h4 class="card-title">Wordpress</h4>
                    <a class="cv btn" href="docs/wordpress.pdf" type="button" target="blank"><i class='fas fa-file-pdf' style='font-size:120px;color:#3385ff;'></i></a>
                </div>
            </div>
            <div class="card mb-2 col-sm-3" style="max-width: 15rem;">
                <div class="card-header">Dossier 10</div>
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <a class="cv btn" href="#" type="button"><i class='fas fa-file-pdf' style='font-size:120px;color:#3385ff;'></i></a>
                </div>
            </div>
        </div>
    </div>
 <!--FIN Partie des Dossiers techniques-->

    <hr>
    <blockquote class="blockquote m-3">
    <p class="lead">"La perfection est atteinte, non pas lorsqu’il n’y a plus rien à ajouter, mais lorsqu’il n’y a plus rien à retirer"</p>
    <footer class="blockquote-footer"><cite title="Source Title">Antoine de Saint Exupéry</cite></footer>
    </blockquote>
    <hr>

 <!--Partie de la veille technologie-->
    <div class="bg-white mt-5"><h2 class="title mt-1">Veille technologie</h2>
        <div class="m-4 d-flex row">
            <div class="bg-white text-white col-sm-4">
                <img class="card-img" src="images/vt01.jpg" class="d-block w-100" alt="carousel01">
                <div class="card-img-overlay">
                    <h4 class="card-title ml-3">Cybersécurité</h4>
                </div>
            </div>
            <div class="bg-white text-white col-sm-4">
                <img class="card-img" src="images/vt02.jpg" class="d-block w-100" alt="carousel02">
                <div class="card-img-overlay">
                    <h4 class="card-title">Le réseau 5G</h4>
                </div>
            </div>
            <div class="bg-white text-white col-sm-4">
                <img class="card-img" src="images/vt03.jpg" class="d-block w-100" alt="carousel03">
                <div class="card-img-overlay">
                    <h4 class="card-title ml-3">IOT</h4>
                </div>
            </div>
        </div>
        <div class="mt-3 d-flex justify-content-center">
            <a class="btn col-xs" href="{{ path('veilletechno') }}" type="button"><i class='fas fa-eye' style='font-size:18px;color:white;'>     Consulter la veille technologique</i></a>
        </div>
    </div>
</div>
 <!--FIN Partie de la veille technologie-->

{% endblock %}
