{% extends 'base.html.twig' %}

{% block title %}Portfolio - Projets réalisés{% endblock %}

{% block body %}
<div class="salt8">
    
    <div class="bg-white">
        <div class="row no-gutters bg-white position-relative">
            <!-- PROJET 1 -->
            <div class="col-md-6 position-static p-3">
                <h3 class="title p-2"> Yogagea A.S.D </h3>
                <p class="lead text-justify">
                    Pour plus m’occuper durant le confinement, j'ai débuté ce projet afin de refaire la refonte du site actuel de <a href="http://www.yogagea.com/" target="blank">Yogagea A.S.D.</a> Tout comme mon portfolio, 
                    ce projet est conçu avec le framework Symfony 4 que j’ai découvert en cours. Mais aussi de Bootstrap 4 pour avoir un visuel plus beau.   
                </p>
                <p class="lead text-justify">
                    Cependant le projet reste privé d’où l'impossibilité d’avoir accès à son dépôt GitHub. Et avec des finitions à faire, le déploiement n’est pas encore fait aussi. 
                    Mais sur la vidéo ci-joint, vous pouvez avoir un aperçu du résultat à quoi je tens.
                </p>
                <a href="https://youtu.be/Kbdd-XfMD_s" target="blank"><i class="fab fa-youtube m-3" style="font-size:32px;color:red;"></i></a>
            </div>

            <!-- PROJET 2 -->
            <div class="col-md-6 position-static p-3">
                <h3 class="title p-2"> Site web FC Pro - Stage 2020 </h3>
                <p class="lead text-justify">
                    Durant le stage 2020, avec un camarade on a eu à concevoir le site web de FC Pro de A à Z. Ce stage a permi de mieux connaître le cms WordPress que j’ai eu à découvrir durant ma première année de formation. 
                    Mais aussi d’avoir une connaissance en plus des thèmes WordPress (gratuit et payant) sans oublier des bases de données qui restent quand même essentiel quand on travaille en locale 
                    et à plusieurs.
                </p>
                <p class="lead text-justify">
                    Malheureusement, le site n’est toujours pas déployer faute de coût et de temps.
                </p>
                <a href="https://1drv.ms/p/s!Ags21xGCVX5ugc03nuH-wP2C6izdYw?e=w77fxq" target="blank"><i class="far fa-file-powerpoint" style="font-size:32px;color:yellow;"></i></a>
            </div>

            <!-- PROJET 3 -->
            <div class="col-md-6 position-static p-3">
                <h3 class="title p-2"> Nombre d'occurence - Stage 2019 </h3>
                <p class="lead text-justify">
                    C'était le plus compliqué mais le plus intéressant je trouve. Etant en première année, j’étais obligé aussi d’être autodidacte.
                </p>
                <p class="lead text-justify">
                    Pour m'occuper, mon maître de stage m’a demandé de concevoir un script en Php (qu’on a à peine frôler durant la fin de l’année scolaire) pour pouvoir compter le nombre de répétition 
                    d’un mot saisi dans un texte saisi aussi. Ce script calculer le nombre d'occurrence, donner le résultat en pourcentage et le catégoriser en trois groupes différents en fonction 
                    de la fréquence. Après ça, il fallait avoir le saisit et le résultat sur un fichier .csv. Et ce même fichier qu’on pouvait télécharger où le recevoir par email.
                </p>
                <p class="lead text-justify">
                    Ce stage m’a le plus apporté car c’est là que j'ai découvert Symfony 4 mais aussi apprendre l’utilisation de Bootstrap 4 mais surtout une meilleure prise en main de Php, JavaScript, PhpMailer.
                </p>
                <a href="https://drive.google.com/drive/folders/1Tta23i2jeJE4d5BGX8JIRnBYndaytNl-?usp=sharing" target="blank"><i class="fab fa-google-drive m-3" style="font-size:32px;color:#00264d;"></i></a>
            </div>

            <!-- PROJET 4 -->
            <div class="col-md-6 position-static p-3">
                <h3 class="title p-2"> PPE SlamQuiz </h3>
                <p class="lead text-justify">
                    Comme chaque année, on a des projets en classe d’où SlamQuiz. Ce dernier est un plateforme développer au cours de l’année et qui permet d’aider les enseignants en mettant en place des quiz pour évaluer les élèves.
                </p>
                <p class="lead text-justify">
                    C’est avec ce projet que j’ai eu à plonger dans Symfony 4 avec la création de “user” de leur assigner des rôles, la traduction automatique, la création de contrôleurs, les routes et j’en passe. 
                    Avec ce projet j’ai eu à connaître PostgreSQL, GitHub pour trouver de chez moi mais aussi de Heroku pour des déploiements gratuits (efficace pour les test).
                </p>
                <a href="https://github.com/BabAlUlum/SlamQuiz" target="blank"><i class="fab fa-github m-3" style="font-size:32px;color:black;"></i></a>
            </div>

            <!-- PROJET 5 -->
            <div class="col-md-6 position-static p-3">
                <h3 class="title p-2"> PPE Chrono </h3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  >
                <p class="lead text-justify">
                    Encore un autre projet scolaire mais fait en groupe. C’est le projet qui a permis de débuter en Php et MySQL.
                </p>
                <p class="lead text-justify">
                    Ce projet s’agissait de gérer les chronomètres des élèves en les répertoriant en fonction des équipes, de mérites, etc.
                </p>
                <a href="docs/chrono.pdf" target="blank"><i class="fas fa-file-pdf" style="font-size:32px;color:#3385ff;"></i></a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
