{% extends 'base.html.twig' %}

{% block title %}Portfolio - Projets réalisés{% endblock %}

{% block body %}
<div class="salt8">
    <!-- PROJET 1 -->
    <div class="d-flex m-1">
        <div class="col-5 p-3">
            <img src="images/project01.jpg" class="w-100" alt="...">
        </div>
        <div class="col-7">
            <h2 class="title p-2"> Nom du projet </h2>
            <p class="lead text-justify">
                Adiecta Cornelius ferro senatores Asbolium constrictus pronuntiante artibus confessi aruspicem ambo supra interfecti sacramento Sericum etiam sunt eius validis nullum extinctus ictibus et constrictus et pronuntiante pravis extinctus pronuntiante vel firmarat quos vellent vellent et flammis quin supra dictos adiecta et validis constrictus Campensem constrictus plumbi constrictus se nominare nominare flammis flammis et et passim etiam quoniam negotio.
            </p>
            <a href="https://github.com/" target="blank"><i class="fab fa-github m-3" style="font-size:42px;color:black;"></i></a>
        </div>
    </div>

    <!-- PROJET 2 -->
    <div class="d-flex m-1">
        <div class="col-5 p-3">
            <img src="images/project02.jpg" class="w-100" alt="...">
        </div>
        <div class="col-7">
            <h2 class="title p-2"> Nom du projet </h2>
            <p class="lead text-justify">
                Adiecta Cornelius ferro senatores Asbolium constrictus pronuntiante artibus confessi aruspicem ambo supra interfecti sacramento Sericum etiam sunt eius validis nullum extinctus ictibus et constrictus et pronuntiante pravis extinctus pronuntiante vel firmarat quos vellent vellent et flammis quin supra dictos adiecta et validis constrictus Campensem constrictus plumbi constrictus se nominare nominare flammis flammis et et passim etiam quoniam negotio.
            </p>
            <a href="https://github.com/" target="blank"><i class="fab fa-github m-3" style="font-size:42px;color:black;"></i></a>
        </div>
    </div>

    <!-- PROJET 3 -->
    <div class="d-flex m-1">
        <div class="col-5 p-3">
            <img src="images/project03.jpg" class="w-100" alt="...">
        </div>
        <div class="col-7">
            <h2 class="title p-2"> Nom du projet </h2>
            <p class="lead text-justify">
                Adiecta Cornelius ferro senatores Asbolium constrictus pronuntiante artibus confessi aruspicem ambo supra interfecti sacramento Sericum etiam sunt eius validis nullum extinctus ictibus et constrictus et pronuntiante pravis extinctus pronuntiante vel firmarat quos vellent vellent et flammis quin supra dictos adiecta et validis constrictus Campensem constrictus plumbi constrictus se nominare nominare flammis flammis et et passim etiam quoniam negotio.
            </p>
            <a href="https://github.com/" target="blank"><i class="fab fa-github m-3 " style="font-size:42px;color:black;"></i></a>
        </div>
    </div>
</div>
{% endblock %}
